* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
}

:root {
    --color-gray: #797979;
    --color-dark-gray: #2C3E50;
    --color-white: #fff;
    --color-green: #38AF90;
    --color-cinza-claro: #F0F0F0;
    --color-black: #383838;
    --color-rose: #DD7E92;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container-header {
   justify-content: space-between;
   background-color: var(--color-green);
   width: 100%;
   height: 90px;
}


.conteudo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
  
}
.conteudo-header img { 
  margin-left: 29px;

}
.conteudo-header p {
    margin-left: 29px;
}


.container-profile {

    color: var(--color-white);
}

.container-profile img {
    margin-right: 5px;
  
}

.container-itens-header {
display: flex;
font-size: 14px;
align-items: center;
    
}

.conteudo-header a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        font-family: "Poppins";
        
}

.container-profile {
    display: flex;
    align-items: center;
    
}


.container-profile span {
    
  background-color: red;
  text-align: center;
  
  
}

.container-profile p{
    display: flex;
    padding-left: 5px;
}



.container-profile img {
    padding-left: 5px;
    width: 62px;
}

.container-h1 h1{
    font-size: 14px;
    display: flex;
    align-items: center;
    
}

#news {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-bloco-news {
    padding-left: 5px;
   
    
  
}

#news h1 {
    
    
    color: var(--color-gray);
    font-size: 24px;
    text-align: center;
    padding: 30px 60px 30px 57px;
    font-weight: bold;
}

.container-news {
    
    
    
    padding: 20px 36px 0px 34px;
    background-color: var(--color-cinza-claro);
    margin: 8px 10px 28px 10px;
    border-radius: 10px;

}
.container-news h2 {
    padding-bottom: 3px;
    font-size: 16px;
    color: var(--color-green);
}

.container-news h3 {
    font-size: 12px;
    color: var(--color-gray);
}

.container-news ul {
    text-align: left;
    font-size: 10px;
    color: var(--color-green);  
    padding-top: 7px;
    margin: 0; 
    padding-left: 0; 

}

.container-text-news {

    padding-top: 12px;

}

.container-text-news p {
    font-size: 10px;
    margin-bottom: 5px;
}

.container-text-news a {
    font-size: 14px;
    text-decoration: none;
    
}

.container-button {
  
    text-align: center;
 
    
    
    
}


.dsmplay-btn {
    width: 244px;
    height: 67px;
    color: var(--color-white);
    background-color: #DD7E92;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    
}




#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: var(--color-cinza-claro);
    height: 1330px;
    width: 100%;
    
}


.container {
    
}

#games h2 { 

    font-size: 24px;
    color: var(--color-green);

    
}

.container {
    display: block;
    align-items: center;
    
}
    

.dsplay-card { 
    
    padding-top: 20px;
    width: 100%;
    height: auto;
    
}

.container-card-description {
    margin-left: 10px;
    width: 300px;
    height: 176px;
    background-color: #fff;
    display: block;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    
    
   
} 


.container-flex {
    
}



.dsplay-card img {
    width: 300px;
    padding-top: 0;
    margin-top: 0;
    margin: 28px 20px -5px 10px;
    border-radius: 10px 10px 0 0;
    

} 
.dsplay-card h3 {
    padding: 30px 10px 10px 10px;
    font-size: 18px;

}
.dsplay-card h4 {
    
    font-size: 14px;

}

.dsplay-card p {
    
    font-size: 36px;
    color: var(--color-green);
}




.container-name-button {
    display: flex;
    padding: 0px;
}
.container-name-button{
    padding: 0px;
    margin: 0px;
 }



#inscricao {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#inscricao p {
    text-align: left;
    padding: 20px 39px 5px 8px;
}

.container-form {
    
    text-align: center;
    background-color:var(--color-cinza-claro);
    margin: 12px;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 20px;
    
   
}

#inscricao h2 {
    padding: 40px 44px 16px 45px;
    text-align: center;
    font-size: 24px;
    color: var(--color-gray);
}

.container-name-button {
    padding-top: 5px;
    
    padding-left: 8px;
    padding-bottom: 2px;
    text-align: left;
}

.inscricao-name {
    text-align: center;


}

.inscricao-email{
    text-align: center;
}

.container-email-button {
    padding: 20px 12px 20px 8px;
    text-align: center;
}


.container-prataform-level {
    text-align: center;
}

.container-selec {
    align-items: center;
}

.container-selec {
    align-items: center;
}



.checkbor-container {
 padding: 36px 9px 48px 8px;
}




.container-button-inscricao {
     
    
}

.button-inscricao {
    text-align: center;
    padding: 20px 0 5px 0;
   
}

.dsmplay-btn {
    margin: 10px;
    
}

.dsmplay-btn-limpar {
    
   
   
    border: 0;
    font-size: 18px;
    font-weight: bold;
    width: 244px;
    height: 67px;
    color: var(--color-rose);
    background-color: var(--color-white);
    border: #DD7E92 2px solid;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 25px;
    
}


.button-inscricao-limpar {
    text-align: center;
}


.container-buton-inicio {
    width: 80%;
    height: 50px;
    margin: 20px 12px 20px 8px;
}


.footer-container {
    width: 100%;
    height: 302px;
    background-color: var(--color-black);
    text-align: center;
}

.container-formulari {
    align-items: left;
}

.footer-container p {
    color: var(--color-white);
    font-size: 14px;
}



.container-itens-footer {
    padding: 28px 0px 8px 0px;
}

.container-itens-footer1 {
    padding-bottom: 38px;
}

.container-itens-footer2 { 
    padding: 37px;

}

.container-itens-footer3 {

    padding: 37px 81px 0px 78px;

}

@media(min-width: 768px) {
    .container {
        display: flex; 
        
    }
    
}

@media(min-width: 768px) {
    #games {
        max-height: 500px;
    
    }
}

@media(min-width: 768px) {
    .container-profile {
        color: #fff;
        font-size: 14px;
        
    }
}

@media(min-width: 992px) {
    .container-news {
        max-width: 990px;
        max-height: 247px;
    }
}



@media(max-width: 568px) { 
    .container-itens-header {
        font-size: 0px;
    }
}

@media(max-width: 568px) {
    .container-form {
       
    }
} 