* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-gray: #797979;
    --color-dark-gray: #2C3E50;
    --color-white: #fff;
    --color-green: #38AF90;
    --color-cinza-claro: #F0F0F0;
    --color-black: #383838;
    --color-rose: #DD7E92;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container-header {
   justify-content: space-between;
   background-color: var(--color-green);
   width: 320px;
   height: 90px;
}

.conteudo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
  
}

.conteudo-header a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        font-family: "Poppins";
        
}

.container-profile img {
    width: 62px;
}

.container-h1 h1{
    font-size: 14px;
    display: flex;
    align-items: center;
    
}

#news {
    width: 320px;
}

#news h1 {
    color: var(--color-gray);
    font-size: 24px;
    text-align: center;
    padding: 40px 60px 0px 57px;
    font-weight: bold;
}

.container-news {
    height: 400px;
    text-align: left;
    padding: 20px 36px 0px 34px;
    background-color: var(--color-cinza-claro);
    margin: 8px 10px 28px 10px;
    border-radius: 10px;

}
.container-news h2 {
    padding-bottom: 3px;
    font-size: 16px;
    color: var(--color-green);
}

.container-news h3 {
    font-size: 12px;
    color: var(--color-gray);
}

.container-news ul {
    text-align: left;
    font-size: 10px;
    color: var(--color-green);  
    padding-top: 7px;
    margin: 0; 
    padding-left: 0; 

}

.container-text-news {

    padding-top: 12px;

}

.container-text-news p {
    font-size: 10px;
    margin-bottom: 5px;
}

.container-text-news a {
    font-size: 14px;
    text-decoration: none;
    
}

.container-button {
    text-align: center;
    width: 244px;
    height: 67px;
    margin: 28px 38px 40px 38px;
    background-color: #DD7E92;
    border-radius: 5px;
    
}

.dsmplay-btn {
    
    padding-top: 25px;
    color: var(--color-white);
    background-color: #DD7E92;
    border: 0;
    
}


#games {
    width: 320px;
    background-color: var(--color-cinza-claro);
    height: 1216px;
    

}

#games h2 { 
    padding: 40px 120px 28px 120px;
    text-align: center;
    font-size: 24px;
    color: var(--color-green);
}

.dsplay-card { 
    padding-top: 0px;
   

}

.dsplay-card img {
    width: 300px;
    padding-top: 0;
    margin-top: 0;
    margin: 28px 20px -5px 10px;
    border-radius: 10px 10px 0 0;

} 
.dsplay-card h3 {
    padding: 30px 10px 10px 10px;
    text-align: center;
    font-size: 18px;

}
.dsplay-card h4 {
    text-align: center;
    font-size: 14px;

}

.dsplay-card p {
    text-align: center;
    font-size: 36px;
    color: var(--color-green);
    

}

.container-card-description {
    
    margin: 0px 10px 30px 10px;
    background-color: var(--color-white);
    height: 140px;
    width: 300px;
    border-radius: 0px 0px 10px 10px;
}

#inscricao {
    width: 320px;
    
}

#inscricao p {
    padding: 20px 39px 5px 8px;
}

.container-form {
    background-color:var(--color-cinza-claro);
    margin: 12px;
    border-radius: 10px;
   
}

#inscricao h2 {
    padding: 40px 44px 16px 45px;
    text-align: center;
    font-size: 24px;
    color: var(--color-gray);
}

.container-name-button {
    padding: 52px 12px 0px 8px;
    text-align: center;
}

.container-email-button {
    padding: 20px 12px 20px 8px;
    text-align: center;
}

.container-prataform-level {
    padding-left: 8px;
}

.container-selec {
    padding: 2px 0;
}

.checkbor-container {
 padding: 36px 9px 48px 8px;
}



.container-button-inscricao {
    text-align: center;
    width: 244px;
    height: 67px;
    margin: 47px 30px 20px 26px;
    background-color: #DD7E92;
    border-radius: 5px;
    
}

.dsmplay-btn-limpar {
    padding-top: 25px;
    color: var(--color-rose);
    background-color: var(--color-white);
    border: 0;
    font-size: 18px;
    



}

.button-inscricao-limpar {
    text-align: center;
    width: 244px;
    height: 67px;
    margin: 47px 30px 20px 26px;
    background-color: var(--color-white);
    border-radius: 5px;
    border: 2px solid var(--color-rose);
    
}

.button-inscricao {
    
    padding-bottom: 20px;
}


.footer-container {
    width: 320px;
    height: 302px;
    background-color: var(--color-black);
    text-align: center;
    
    
}

.footer-container p {
    
    color: var(--color-white);
    font-size: 14px;
}


.container-itens-footer {
    padding: 28px 0px 8px 0px;
}

.container-itens-footer1 {
    padding-bottom: 38px;
}

.container-itens-footer2 { 
    padding: 37px;

}

.container-itens-footer3 {

    padding: 37px 81px 0px 78px;

}